.readonlyInputsDiv {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin-top: 10px;
}

.readonlyInputs {
  font-style: oblique;
}


.baseInss input{
  font-weight: bolder;
  color: black;
}

.discountINSS input {
  font-weight: bolder;
  color: orange;
}

.baseIRPF input{
  font-weight: bolder;
  color: black;
}
.discountIRPF input{
  font-weight: bolder;
  color: red;
}

.netSalary input{
  font-weight: bolder;
  color: green;
}

.inputNotReadOnly{
  font-style: oblique;
}
